.App {
  text-align: center;
  background-color: rgb(46, 46, 46);
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 20px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Calculator {
  width: 168px;
  margin: 0 auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
